
nav {
    .our {
        background-color: #E5E9CD;
    margin: 20px 0;


        .our_text {
            padding: 100px 0;
            margin: 0px 135px;
           
            h1 {
                font-family: "Unbounded", Sans-serif;
                font-size: 40px;
                font-weight: 500;
                line-height: 55px;
                text-align: center;
                color: #222222;
            }

            h4 {
              
                text-align: center;
                font-family: "Hanken Grotesk", Sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                color: #111111;
            }

        }
    }

}